
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
*.pyc
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
addFootagePlane.mel/
addTimeWrap.mel/
BE_OpenVDB/
bigKeeper/
bigKeeper.mel/
BigKeeperMeun.mel/
bigKeeper_users.xml/
BigPictureMeun.mel/
bigPicture_projects.xml/
bk/
bvh_importer.py/
bvh_importer.pyc/
camFXDB.py/
cleanUpAndLayoutBaseUV.mel/
clearTempFolder/
comet/
createTodayFolder.bat/
daniel/
DeadlineMayaClient.mel/
FileTextureManager_2018.mel/
fusion/
houdini/
Maya.env/
mayaPlugIn/
mrmc_v145.mel/
networkReConnect/
nuke/
nukePlugIn/
OCIO/
py/
redshiftRGB.mel/
rsShaderCreate_Assign.mel/
setTextVal.py/
setTextVal.pyc/
userHotkeys_Maya_Default_Duplicate.mel/
userSetup.mel/
wofScriptMenu.mel/
wof_centralBuildSetup.mel/
wof_loadPinSetup.mel/
wof_loadPointCloudSetup.mel/
wof_loadpreScanPointCloudSetup.mel/
wof_SelectItems.mel/
wof_showPin.mel/
wof_showPreScanPointCloud.mel/
wof_showScanPointCloud.mel/
wof_targetBuildSetup.mel/
wof_timeWrapIcon.mel/
xxxxbenson/
_bak_userSetup.mel/
_copyMayaEnv.bat/
_toBeDeleted/
__pycache__/
